h3{
    text-decoration-line: underline;
    text-decoration-style:double;
}
div:hover{
    border: solid darkgreen 2px;
}
#div1{
    color: red;
    font-style: italic;
}
#div2{
    color: brown;
}
#div3{
    color: blueviolet;
    font-size: large;
    font-style: italic;
}
#div4{
    color: blue;
}
#div5{
    color: green;
    font-style: italic;
}
